@import 'vendor/filament/filament/resources/css/theme.css';
@import 'vendor/spykapps/theme-edinburgh/resources/css/edinburgh.css';

@source 'app/Filament/**/*';
@source 'resources/views/filament/**/*';
@source 'vendor/jeffgreco13/filament-breezy/resources/**/*';
@source 'vendor/awcodes/filament-quick-create/resources/**/*.blade.php';

.fi-ta-header-cell, .fi-ta-selection-cell, .fi-ta-empty-header-cell {
    border-bottom: initial;
    background-color: initial;
}

.fi-ta-cell .fi-ta-text:not(.fi-inline) {
    padding-inline: initial;
}

/* Strange overflow from theme */
.curator-media-picker>ul>li>.overflow-hidden,
.fi-fo-table-repeater>table {
    overflow: visible;
}

.fi-section:not(.fi-section-not-contained):not(.fi-divided)>.fi-section-content-ctn>.fi-section-content {
    padding: initial;
}
